.header1{
    background-color: #dcdcdc;
    color: #191970;
    font-family: Calibri;
    font-size:30px;
    font-weight: bold;
  }
    
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #b0c4de;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    font-family: Calibri;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #b0c4de;}
  
  .dropdown:hover .dropdown-content {display: block;}

  .btn{
      background-color: whitesmoke;
      color: black;
  }