.header1{
    background-color: #dcdcdc;
    color: #191970;
    font-family: Calibri;
    font-size:30px;
    font-weight: bold;
  }
  .mode{
      background-color: #596675;
      color: white;
  }

  .btn{
      background-color: whitesmoke;
      color: black;
  }

img {
    max-width: 100%;
    height: auto;
}
