body{
  background-color: white;
}
.mode{
  background-color: white;
  color: black;
}
.mode nav ul li .btn{
  background-color: transparent;
  color: black;
  width: 100%;
  text-align: left;
}
.mode nav ul li{
width: 100%;
}

.mode nav ul{
width: 100%;
}
.mode nav{
width: 100%;
}
.mode a i {
  color: black;
}

.active{
  background-color: lightgray!important;
}

.visible{
  visibility: visible;
  height: auto;
}
.hidden{
  visibility: hidden;
  height: 0;
  width: 0;
  border-style: none;
  padding: 0;
  margin: 0;
}




img {
max-width: 100%;
height: auto;
}


.visualizza div div input, .visualizza div div select, .visualizza div div textarea{

  border-style: none;
  border-color: unset;
  

}

.title{

  font-weight: bold;
  font-style: 20px;
}
.title:disabled{
  opacity: 1;
  color: black;
  appearance: none;
  background-color: transparent;
  border-style: none;
  border-color: unset;  
  
  }

.visualizza div div input:disabled, .visualizza div div select:disabled, .visualizza div div textarea:disabled, .form-control:disabled{

  opacity: 1;
  color: black;
  appearance: none;
  background-color: transparent;
  border-style: none;
  border-color: unset;
  
}

